# Dependencies
/node_modules
/frontend/node_modules

# Build output
/dist
/frontend/dist
/release

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# Editor-specific
.vscode
.idea